section {
    margin-top: 1em;
}

.article.details {
    border: none;
}

.article .blog-title {
    font-size: 24px;
    font-weight: 600;
}

.article .blog-description {
    font-size: 16px;
    letter-spacing: 0.02em;
}

.postCredit a,
.postCredit a:visited {
    font-size: 1rem;
    background-color: #CE6028 !important;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}

span.author {
    font-size: 1rem;
    font-weight: 700;
    color: #CE6028;
}

span.timestamp {
    font-size: 1rem;
    font-size: 12px;
    font-weight: 400;
}

.not-found {
    min-height: calc(100vh - 120px);
    opacity: 0.15;
}


.form-wrapper .Form-title {
    font-size: 32px;
    font-weight: 600;
}

.form-wrapper .form-group label {
    font-size: 18px;
    margin-bottom: 5px;
}

.blog-filled-button {
    font-size: 1rem;
    margin-right: 0.5rem;
    background-color: #CE6028 !important;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}

.blog-filled-button.delete {
    background-color: transparent !important;
    border: 2px solid #CE6028 !important;
    color: #CE6028 !important;
}