* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfaf7;
    font-family: "Mallanna", sans-serif;
    font-optical-sizing: auto;
}

body::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}

input,
textarea,
button,
select {
    font: inherit;
    box-shadow: none !important;
}

p {
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 0.5em 0;
}

.react-loading-skeleton {
    z-index: -1;
}

.form-control:focus,
.form-select:focus {
    border-color: #CE6028;
}

.excerpt {
    font-style: italic;
}

.reactionButton {
    color: #000;
    font-size: 1.2rem;
    border-radius: 4px;
}

.reactionButton.thumbsUp {
    background: transparent;
    border: 1px solid #007bff
}

.reactionButton.wow {
    background: transparent;
    border: 1px solid #fd7e14
}

.reactionButton.heart {
    background: transparent;
    border: 1px solid #dc3545
}

.reactionButton.rocket {
    background: transparent;
    border: 1px solid #6c757d
}

.reactionButton.coffee {
    background: transparent;
    border: 1px solid #ffc107
}