* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfaf7;
    font-family: "Mallanna", sans-serif;
    font-optical-sizing: auto;
}

body::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}

input,
textarea,
button,
select {
    font: inherit;
    box-shadow: none !important;
}

p {
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 0.5em 0;
}

.blog-filled-button {
    min-height: 44px;
    min-width: 100px;
}

.react-loading-skeleton {
    z-index: -1;
}

.form-control:focus,
.form-select:focus {
    border-color: #CE6028;
}

.excerpt {
    font-style: italic;
}

.reactionButton {
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 50px;
    min-width: 90px;
}
.reactionButton.thumbsUp {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #FFFFFF
}

.reactionButton.wow {
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
    color: #FFFFFF
}

.reactionButton.heart {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #FFFFFF
}

.reactionButton.rocket {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #FFFFFF
}

.reactionButton.coffee {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: #FFFFFF
}